/* TODO: Make it awesome */

header {
  height: 60px;
  background: slategray;
  margin-bottom: 30px;
}

header h1 {
  font-size: 32px;
  margin:10px 0 40px 40px;
  float: left;
}

header ul {
  float: right;
  margin: 0 40px;
  line-height: 60px;
}

header li {
  display: inline-block;
  margin: 0 20px;
}
